// Specific CSS for your home-page

.main-title{
  font-family: 'Arvo', serif;
  color: white;
  font-weight: 700;
  font-size: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.sub-title{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.1em;
}
.mcard{
  height:280px;
  width:200px;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  margin: 10px;
}
