<div class="index-banner">
  <div class="container">
    <h1 class="main-title">Enjoy the moment</h1>
    <p class="sub-title">Pick everything you like</p>
      <div class="row">
      <%= render 'list', events:@events %>
      </div>
  </div>
</div>
