<div class="index-banner">
  <div class="container">
    <h1 class="main-title">Enjoy the moment</h1>
    <p class="sub-title">Pick your favoriate</p>
    <ul>
      <%= render 'list', events:@events %>
    </ul>
  </div>
</div>
