// Graphical variables

$mgray: #6C757D;
$mblack: #222222;
$mdblue: #1C5D99;
$mlblue: #BBCDE5;

@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
